:root {

    --blue: #107AC6;
    --soft-blue: #48AEF0;
    --pastel-blue: #94B8D1;
    --sky-blue: #B6DFF9;
    --grey: #D2E9F9;
    --soft-grey: #F9F8F8;
    --dark-grey: #2C2C2C;
    --white: #FFFFFF;
    --black: #000000;
}
* {
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Cabin Condensed', 'Merriweather', 'sans-serif';
    background-color: var(--sky-blue);
}
.header {
    display: flex;
    background-color: var(--blue);
    text-align: center;
    margin-top: auto;
}
h1 {
    display: contents;
    color: var(--white);
    font-family: sans-serif;
}
.movie-search {
    background-color: var(--white);
    border: var(--pastel-blue);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 9999rem;
}
.noVisual {
    display: none;
}
.visual {
    /*FONDO TARJETAS, TAMAÑO ESCRITORIO*/
    background-color: var(--white);
    color: var(--dark-grey);
	box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
	font-family: Merriweather;
    font-size: 0.6em;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    width: 18rem;
    height: 25rem;
}
.imagenCard{
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* li {
    list-style: none;
    text-align: center;
    position:inherit;
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
}

.nameCard {
    background: red;
    width: 50rem;
    height: 10rem;
    text-align: center;
} */
.cardsBtn {
    font-family: Merriweather;
	text-align: center;
	background-color: var(--white);
    color: var(--dark-grey);
	border: 0.1rem solid var(--soft-blue);
}
.cardsBtn:hover {
    background-color: var(--soft-blue);
    border: var(--grey);
    color: var(--white);
}
.windowModal {
    background-color: var(--soft-blue);
    z-index: 2;
    /*transform: translate(-50%, -50%);*/
}
h2 {
    font-family: Merriweather;
    display: flex;
    justify-content: center;
    text-shadow: -1.4px 0 var(--dark-grey), 0 1.4px var(--dark-grey),
    1.4px 0 var(--dark-grey), 0 -1.4px var(--dark-grey);
    color: var(--white);
}
.modalCard {
    display: flex;
    justify-content: center;
    background-color: var(--white);
}
.closeWindow {
    font-family: Merriweather;
    background-color: var(--soft-grey);
    color: var(--dark-grey);
    border: none;
    cursor: pointer;
    width: fit-content;
}
.closeWindow:hover {
    background-color: var(--sky-blue);
    border: var(--grey);
    color: var(--black);
} 
.card {
    font-family: Merriweather;
    text-align: left;
    position: relative;
    top: 0.5rem;
    left: -1.2rem;
}
.modalCard > img {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.425);
}
.modalFondo .statsFondo {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
}
.hiden {
    display: none;
}
ul {
    display: none;
}  
input:checked ~ ul {
    display: block;
}  
input {
    display: none;
}  
.buttons {
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    user-select: none;
}  
li {
    display: block;
    background: lightgrey;
    margin: 0;
    padding: 10px;
    list-style: none;
    border-bottom: 1px solid grey;
}
/* [data-testid="select-filter"] {
    text-align: center;
    font-family: Merriweather;
    background-color: var(--soft-grey);
    color: var(--dark-grey);
    border: var(--grey);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
[data-testid="select-filter"]:hover {
    background-color: var(--soft-blue);
    border: var(--pastel-blue);
    color: var(--white);
}
.cleanerButton {
    font-family: Merriweather;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--soft-blue);
    border-color: var(--pastel-blue);
    color: var(--white);
    border: var(--grey);
}
.cleanerButton:hover {
    background-color: var(--soft-grey);
    border: var(--grey);
    color: var(--dark-grey);
}
.statsButton {
    background-color: var(--soft-blue);
    border-color: var(--pastel-blue);
    color: var(--white);
    border: var(--grey);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.statsButton > img {
    height: auto;
}
.statsButton:hover {
    background-color: var(--soft-grey);
    border: var(--grey);
    color: var(--dark-grey);
} */
.statsWindow {
    z-index: 2;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--white)
}
h3 {
    font-family: Merriweather;
    display: flex;
    justify-content: center;
    color: var(--dark-grey);
}
p {
    font-family: Merriweather;
    text-align: left;
}
.closeStats {
    display: block;
    font-family: Merriweather;
    background-color: var(--sky-blue);
    color: var(--dark-grey);
    border: none;
    cursor: pointer;
}
footer {
    font-family: Merriweather;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media only screen and (max-width: 450px) {
  /* Aquí comienza el estilo de Header */

.header {
    width: 100%;
    height: 100%;
}
.logo {
    width: 18vw;
    height: 10vh;
}
.title {
  /*titulo Studio Ghibli*/  
    margin: 0.5rem 2rem 0 0;
}
h1 {
    font-size: 0.7em;
}
.movie-search {
    width: 45vw;
	height: 4vh;
	font-size: 0.7em;
	padding-left: 0.5rem;
	margin: 0.8rem 0.3rem 0 0.1rem;
}
/* Aquí finaliza el header */
/* Aquí comienza cards */
.visual {
    
    margin: 1.5rem;
	width: 10rem;
	height: 18rem;
	font-size: 0.6em;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.visual > img {
    width: 9.5rem;
    height: 12rem;
    border-radius: 0.6rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.425);
    display: flex;
    flex-direction: column;
    justify-items: center
}

.imagenCard{
    display: flex;
    margin-top: -1.5rem;
    margin-left: 0.3rem;
}

.cardsBtn {
    width: 4.5rem;
	height: 1.7rem;
	border-radius: 0.5rem;
    margin: 1.5rem 0 0 0;
	font-size: 0.6rem;
	font-family: Merriweather;
    position: relative;
    top: 7rem;
    left: -10rem;
}
.windowModal {
    /*fondo celeste del modal*/
    width: 25.5rem;
    height: 28rem;
    border-radius: 2rem;
    position: relative;
    left: -1.9rem; 
}

h2 {
    /* letras título modal*/
    font-size: 1.2rem;
    padding-top: 1rem;
}
.modalCard {
    /*fondo blanco sobre la tarjeta*/
    width: 24.5rem;
    height: 20rem;
    border-radius: 1.5rem;
    margin-left: 0.5rem;
    margin-top: 1rem;
}
.closeWindow {
    /*botón para cerrar modal (descripción)*/
    font-size: 1rem;
    padding: 8px 18px;
    border-radius: 0.7rem;
    margin-top: 1.1rem;
    margin-left: 2rem;;
}
.closeWindow:hover {
    background-color: var(--sky-blue);
    border: var(--grey);
    color: var(--black);
} 
.card {
    /*descripción completa modal*/
    font-size: 0.78rem;
    
    
}
.modalCard > img {
    width: 11.5rem;
    height: 19rem;
    margin: 0.5rem;
    border-radius: 1rem;
}
/* Aquí finaliza el estilo cards */
/* Aquí comienza el estilo filters */
/* .superButtons{
    margin: 1rem 0 0 0;
}
[data-testid="select-filter"] {
    width: 12.5rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 700;
}
[data-testid="select-filter"]:hover {
    background-color: var(--soft-blue);
    border: var(--pastel-blue);
    color: var(--white);
}
.cleanerButton {
    width: 12.5rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 700;
}
.statsButton {
    width: 7rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    font-size: 1rem;
}
.statsButton > img {
    width: 3rem;
    height: auto;
}
.statsWindow {
    width: 30rem;
    height: 20rem;
    border-radius: 3rem;
} */
h3 {
    font-size: 1.5rem;
    margin-top: 2rem;
}
p {
    font-size: 1rem;
    margin: 0.5rem;
}
.closeStats {
    margin-top: 10px;
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 0.7rem;
    width: fit-content;
    margin: auto;
    margin-top: 2rem;
}
/* Aquí finaliza el estilo filters */
/* Aquí comienza el estilo footer */
footer {
    bottom: 0;
    width: 100%;
    height: 5rem;
    font-size: 1rem;
/* Aquí finaliza el estilo footer */
}
}