:root {

    --blue: #107AC6;
    --soft-blue: #48AEF0;
    --pastel-blue: #94B8D1;
    --sky-blue: #B6DFF9;
    --grey: #D2E9F9;
    --soft-grey: #F9F8F8;
    --dark-grey: #2C2C2C;
    --white: #FFFFFF;
    --black: #000000;
}
* {
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Cabin Condensed', 'Merriweather', 'sans-serif';
    background-color: var(--sky-blue);
    position: relative;
}
.header {
    display: flex;
    background-color: var(--blue);
    text-align: center;
}
h1 {
    color: var(--white);
    font-family: sans-serif;
}
.movie-search {
    background-color: var(--white);
    border: var(--pastel-blue);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 9999rem;
}
.noVisual {
    display: none;
}
.visual {
    background-color: var(--white);
    text-align: center;
	box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
	font-family: Merriweather;
}
ul {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
li {
    list-style: none;
    color: var(--dark-grey);

}
.cardsBtn {
    font-family: Merriweather;
	text-align: center;
	background-color: var(--white);
	color: var(--dark-grey);
	border: 0.1rem solid var(--soft-blue);
}
.cardsBtn:hover {
    background-color: var(--soft-blue);
    border: var(--grey);
    color: var(--white);
}
.chatBtn {
	background-color: var(--white);
	color: var(--blue);
	border: 0.1rem solid var(--soft-blue);
    border-radius: 0.7rem;
}
.chatBtn:hover {
    background-color: var(--soft-blue);
    border: 0.1rem solid var(--soft-blue);
    color: var(--white);
}
.windowModal {
    background-color: var(--soft-blue);
    z-index: 2;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h2 {
    font-family: Merriweather;
    display: flex;
    justify-content: center;
    text-shadow: -1.4px 0 var(--dark-grey), 0 1.4px var(--dark-grey),
    1.4px 0 var(--dark-grey), 0 -1.4px var(--dark-grey);
    color: var(--white);
}
.modalCard {
    display: flex;
    justify-content: center;
    background-color: var(--white);
}
.closeWindow  {
    background-color: var(--soft-blue);
	color: var(--white);
	border: 0.1rem solid var(--white);
    border-radius: 0.7rem;
}
.closeWindow:hover {
    background-color: var(--blue);
    border: 0.1rem solid var(--soft-blue);
    color: var(--soft-blue);
}
.chatBtnModal {
    background-color: var(--soft-blue);
	color: var(--white);
	border: 0.1rem solid var(--white);
    border-radius: 0.7rem;
}
.chatBtnModal:hover {
    background-color: var(--blue);
    border: 0.1rem solid var(--soft-blue);
    color: var(--soft-blue);
}
.card {
    font-family: Merriweather;
    text-align: left;
}
.modalCard > img {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.425);
}
.modalFondo {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
}
.hiden {
    display: none;
}
ul.menúIcon {
    display: none;
} 
input#menú:checked ~ ul.menúIcon {
    display: block;
} 
input#menú {
    display: none;
}
label.buttons {
    box-sizing: border-box;
	display: inline-block;
	border: 2px solid var(--white);
	color: var(--white);
	border-radius: 5px;
	font-weight: bold;
	text-align: center;
	user-select: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
li.contentMenú {
    display: block;
}
.optionMenu {
    text-align: center;
	font-family: Merriweather;
	color: var(--dark-grey);
	background: var(--pastel-blue);
	list-style: none;
    border: none;
}
.statsWindow {
    z-index: 2;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--white)
}
h3 {
    font-family: Merriweather;
    display: flex;
    justify-content: center;
    color: var(--dark-grey);
}
p {
    font-family: Merriweather;
    text-align: left;
}
.closeStats {
    display: block;
    font-family: Merriweather;
    background-color: var(--sky-blue);
    color: var(--dark-grey);
    border: none;
    cursor: pointer;
}
footer {
    font-family: Merriweather;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Vista de error escritorio*/


.errorImagen {
    font-family: Merriweather;
    font-size: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.errorMessage {
    font-family: Merriweather;
    font-size:small;
    display: flex;
    text-justify: center;
    align-items: center;
}


@media only screen and (max-width: 450px) {
  /* Aquí comienza el estilo de Header */

.header {
    width: 100%;
    height: 100%;
}
.logo {
    width: 18vw;
    height: 10vh;
}
.title {
	margin: 0.8rem 0 0 -0.6rem;
}
h1 {
    font-size: 0.6em;
}
.movie-search {
    width: 45vw;
	height: 3.5vh;
	font-size: 0.6em;
	padding-left: 0.5rem;
	margin: 1rem -18.9rem 0 0;
}
/* Aquí finaliza el header */
/* Aquí comienza cards */
.visual {
    padding: 0.5rem;
	width: 10rem;
	height: 20rem;
    margin: 0 0 1rem 0;
	font-size: 0.6em;
    border-radius: 0.5rem;
}
.visual > img {
	width: 9rem;
	height: 13rem;
	border-radius: 0.5rem;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.425);
}
ul {
    margin: 0.5rem 0 0 0;
}
.cardsBtn {
    width: 4.5rem;
	height: 1.7rem;
	border-radius: 0.5rem;
	font-size: 0.6rem;
}
.chatBtn {
    width: 2rem;
	height: 1.7rem;
	border-radius: 0.5rem;
	margin: 0.8rem 0 0 0;
}
.windowModal {
	width: 20rem;
	height: 21rem;
	border-radius: 0.5rem;
}
h2 {
    font-size: 1.3em;
	margin: 0.5rem 0 0 0;
}
.modalCard {
    width: 19rem;
	height: 16rem;
	border-radius: 0.8rem;
	margin: 0.5rem;
}
.modalCard > img {
    width: 19rem;
	height: 14.8rem;
	border-radius: 0.8rem;
	margin: 0.5rem;
}
.closeWindow {
    font-size: 0.8rem;
	width: 6rem;
	height: 2.3rem;
	margin: 0.2rem 0 0 6rem;
}
.chatBtnModal {
	width: 2.5rem;
	height: 2.3rem;
}
.card {
    font-size: 0.6rem;
    margin: 0.5rem;
}
/* Aquí finaliza el estilo cards */
/* Aquí comienza el estilo filters */
label.buttons {
	width: 1.7rem;
	height: 1.7rem;
	font-size: 1em;
	margin: 0.3rem;
}
.optionMenu {
	width: 10rem;
	height: 1.5rem;
	margin: 0.2rem 0 0 0;
	font-size: 0.7em;
}
h3 {
    font-size: 1.5rem;
    margin-top: 2rem;
}
p {
    font-size: 1rem;
    margin: 0.5rem;
}
.closeStats {
    margin-top: 10px;
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 0.7rem;
    width: fit-content;
    margin: auto;
    margin-top: 2rem;
}
/* Aquí finaliza el estilo filters */
/* Aquí comienza el estilo footer */
footer {

    width: 100%;
    height: 2rem;
    font-size: 0.7rem;
/* Aquí finaliza el estilo footer */
}

/* Vista de error movil*/

.errorImagen {
    font-family: Merriweather;
    font-size: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.errorMessage {
    font-family: Merriweather;
    font-size:small;
    display: flex;
    text-justify: center;
    align-items: center;
}
/*hasta aquí vista de error movil*/
}



@media only screen and (min-width: 500px) {
/* Aquí empieza el header */
.header {
    width: 100%;
    height: 100%;
}
.logo {
    width: 12vw;
	height: 16vh;
}
.title {
  /*titulo Studio Ghibli*/  
    margin: 1.4rem 0 0 -1rem;
}
h1 {
    font-size: 1.2em;
}
.movie-search {
	width: 40vw;
	height: 5.5vh;
	font-size: 1em;
	padding-left: 1.5rem;
	margin: 2rem -63rem 0 0;
}

/* Aquí finaliza el header */
/* Aquí comienza cards */
.visual {
    padding: 0.5rem;
	margin: 1rem;
	width: 14rem;
	height: 26.8rem;
	font-size: 0.83em;
	border-radius: 0.5rem;
}
.visual > img {
    width: 12rem;
	height: 18rem;
	border-radius: 0.5rem;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.425);
}
ul {
    margin: 1rem 0 0.8rem 0;
}
.cardsBtn {
    width: 6rem;
	height: 2rem;
	border-radius: 0.5rem;
	margin: 1rem 0 0 0;
	font-size: 1rem;
	font-family: Merriweather;
}
.chatBtn {
    width: 3rem;
    height: 2rem;
    border-radius: 0.5rem;
}
.windowModal {
    width: 46rem;
    height: 35rem;
    border-radius: 3rem;
}
h2 {
    font-size: 2.5rem;
    margin: 0.6rem 0 0 0;
}
.modalCard {
    width: 44rem;
    height: 27rem;
    border-radius: 2rem;
    margin: 0.6rem 1rem;
}
.closeWindow {
    width: 7rem;
	height: 2.4rem;
    margin: 0 0 0 20rem;
}
.chatBtnModal {
    width: 3rem;
	height: 2.4rem;
}
.card {
    font-size: 1rem;
    margin: 0.5rem;
}
.modalCard > img {
    width: 20rem;
    height: 25rem;
    margin: 1rem;
    border-radius: 1rem;
}
/* Aquí finaliza el estilo cards */
/* Aquí comienza el estilo filters */
label.buttons {
    width: 2.5rem;
	height: 2.5rem;
	font-size: 1.5em;
    margin: 0.5rem;
}
.optionMenu {
    width: 18rem;
	height: 2.5rem;
	margin: 0.5rem 0 0 0;
}
h3 {
    font-size: 1.5rem;
    margin-top: 2rem;
}
p {
    font-size: 1rem;
    margin: 0.5rem;
}
.closeStats {
    margin-top: 10px;
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 0.7rem;
    width: fit-content;
    margin: auto;
    margin-top: 2rem;
}
/* Aquí finaliza el estilo filters */
/* Aquí comienza el estilo footer */
footer {
    width: 100%;
    height: 5rem;
    font-size: 1rem;
/* Aquí finaliza el estilo footer */
}

/* Vista de error*/

.errorImagen {
    font-family: Merriweather;
    font-size: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.errorMessage {
    font-family: Merriweather;
    font-size:xx-large;
    display: flex;
    text-justify: center;
    align-items: center;
}

}
